# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

!platforms/android/AndroidManifest.xml

node_modules/
platforms/android/*
platforms/platforms.json
plugins/


/nbproject
.idea