<ion-view view-title="Settings">
  <ion-content>
    <div class="list list-inset">

      <div class="item item-divider">Tracking</div>

      <div class="item item-toggle">
        Enabled
        <label class="toggle toggle-positive">
          <input type="checkbox" ng-model="settings.tracking">
          <div class="track">
          <div class="handle"></div>
        </div>
        </label>
      </div>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Server URL</span>
        <input type="url" placeholder="settings.http_host" ng-model="settings.http_host">
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Client ID</span>
        <input type="url" placeholder="settings.http_host" ng-model="settings.client_id">
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Sample interval in seconds</span>

          <div class="item range">
            <i class="icon ion-android-remove"></i>
            <input type="range" ng-model="settings.interval" min="settings.interva_min" max="settings.interval_max">
            <i class="icon ion-android-add"></i>
          </div>
        </label>

        </div>
      <div class="list list-inset">


      <div class="item item-divider">Map</div>

      <div class="item item-toggle">
        Show polyline
        <label class="toggle toggle-positive">
          <input type="checkbox" ng-model="settings.polyline">
          <div class="track">
          <div class="handle"></div>
        </div>
        </label>
      </div>

      <div class="item item-toggle">
        Show markers
        <label class="toggle toggle-positive">
          <input type="checkbox" ng-model="settings.markers">
          <div class="track">
          <div class="handle"></div>
        </div>
        </label>
      </div>

      <div class="item item-toggle">
        Center map on location
        <label class="toggle toggle-positive">
          <input type="checkbox" ng-model="settings.center">
          <div class="track">
          <div class="handle"></div>
        </div>
        </label>
      </div>

    </div>
  </ion-content>
</ion-view>